<!--steps.component.html-->


<div class="step-card">
    <div class="step-card-h">
        <h3>Step 1</h3>
    </div>

    <div class="step-card-info">
        <div class="step-card-info-devision">
            <p class="step-card-info-p">From: {{step.from}}</p>
            <p class="step-card-info-p">By: {{step.transportMode}}</p>
        </div>

        <div class="step-card-info-devision">
            <p class="step-card-info-p">To: {{step.to}}</p>
            <p class="step-card-info-p">Distance: {{step.distance}}</p>  
        </div>
    </div>

    <div class="step-card-icon.div">
            <img class="step-card-icon" [src]="'assets/icons/' + getTransportIcon()" [alt]="step.transportMode">
    </div>
</div>
