<div class="d-flex justify-content-center my-5">
  <form class="border-black border shadow p-3 rounded abs" style="width:500px">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <label for="passwordRepeat" class="form-label">Repeat password</label>
      <input type="password" class="form-control" id="passwordRepeat">
    </div>
    <div class="d-flex justify-content-between mt-4">
      <span>Already have an account?
        <a class="link" routerLink="/login" routerLinkActive="fw-bold">Sign up</a></span>
      <button type="submit" class="btn btn-primary">Submit</button>

    </div>
  </form>
</div>