@if (state.selectedTour(); as tour) {
<section class="tour-overview-page">
  <div class="tour-overview-card">
    <div class="tour-overview-header">
      <p class="overview-kicker">Tour Overview</p>
      <h1>{{ tour.name }}</h1>
      <p class="overview-description">{{ tour.description }}</p>
    </div>

    <div class="tour-info">
      <p><strong>From:</strong> {{ tour.getStart() }}</p>
      <p><strong>To:</strong> {{ tour.getEnd() }}</p>
      <p><strong>Distance:</strong> {{ tour.getTotalDistanceKm() }} </p>
      <p><strong>Estimated Time:</strong> {{ tour.getEstimatedTime() }}</p>
      <p><strong>Popularity:</strong> {{ tour.popularity }}</p>
      <p><strong>Child friendly:</strong> {{ tour.childFriendly ? 'Yes' : 'No' }}</p>
    </div>

    <div class="tour-buttons">
      <button class="modern-btn" type="button" (click)="(onEditTour())">
        Edit Tour
        <img src="assets/icons/edit.png" alt="Edit" class="btn-icon">
      </button>
      <button class="modern-btn danger-btn" type="button" (click)="(openDeleteModal())">
        Delete Tour
        <img src="assets/icons/delete.png" alt="Delete" class="btn-icon">
      </button>
      <button class="modern-btn export-btn" type="button">
        Export Tour
        <img src="assets/icons/import-export.png" alt="Export" class="btn-icon">
      </button>
    </div>
  </div>
  @if (showDeleteModal()) {
  <div class="modal-backdrop" (click)="closeDeleteModal()"></div>

  <div class="modal-card">
    <h3>Delete Tour</h3>
    <p>Are you sure you want to delete this tour? This cannot be undone.</p>

    <div class="modal-actions">
      <button class="btn cancel-btn" (click)="closeDeleteModal()">
        Cancel
      </button>

      <button class="btn danger-btn" (click)="onDeleteTour()">
        Delete
      </button>
    </div>
  </div>
  }
</section>
}